<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.FileAppender">
      <Layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOULUTE} [%logger] %level - %message%newline%exception"/>
      </Layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <File value="C:\Logs\myLogFile.txt"/>
      <appendToFil value="true"/>
      <lockingModel type="log4net.Appender.FileAppenderMinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOULUTE} %level - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level valur="Debug"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="CellularCompanyDbModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DAL.Db.CellularCompanyDbModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="CellularDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DAL.Db.CellularDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>