
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>

<p>Want to ask a question, complain or just to talk?</p>
<p>You can contact us via one of the following:</p>
<br />

<p>Email: cell@company.com</p>
<p>Phone: *0000</p>

