
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>

<p>Hello visitor! we are cellular company that do everything to provide you</p>
<p>with the best service experience for you</p>
<p>so you can sit back, relax and stay in touch with your loved ones</p>
<p>while getting the highest quality connection available today</p>
<br/>
<br/>

<h4>You can always contact us via one of the following:</h4>
<p>Email: cell@company.com</p>
<p>Phone: *0000</p>
